#editor-render-body {
	clear:both;
    position: relative;
    width: 650px;
    height: 350px;
    padding-left: 10px;
    padding-top: 10px;
}

#editor-render-body table
{
	border-collapse:collapse;
	border: 1px solid black;
}

#editor-render-body th {
	border: 1px solid black;
	  padding: 0.5rem;
}

#editor-render-body td
{
	border: 1px solid #888888;
	  padding: 0.5rem;
	    text-align: right;
}

#editor-render-body .graph_border {
	background-color: rgb(227, 227, 227);
	text-align: left;
}

#editor-render-body td:first-child
{
	text-align: left;
}

#editor-render-body .glyphicon-plus {
	padding-right: 5px;
}

#editor-render-body .web_graph_indent {
	padding-left: 30px;
}

.graph_header_legend {
	position: relative;
}

.measure_selection {
	float:left;
}

.graph_chart_selection {
	padding-left: 50px;
	display: inline;
}

.graph_selection {
	display: inline;
}